---
import { Icon } from "astro-icon/components";

interface Props {
  titulo: string;
  icono: string;
  href:string;
}
const { href,titulo, icono } = Astro.props;
---


    <a 
    {href}
    class="hover:bg-gray-200 bg-opacity-10 p-2 rounded-md flex items-center gap-2 cursor-pointer text-gray-700">
      <Icon name={icono} class="text-gray-500" />
      <span class="font-medium">{titulo}</span>
    </a>
